body{
    background-image: url(../css/pattern.jpg);
    margin: 0px;
}
header{
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 15px;
}
ul{
    list-style: none;
}
li{
    display: inline;
    margin: 6px;
    color: purple;
}
section{
    background-color: white;
    margin: 40px 255px 33px;
    padding: 20px;
    color: purple;
}
article{
    border-bottom: 4px solid black;
    margin: 20px;
    color: black;
}
footer{
    background-color: black;
    text-align: center;
    padding: 10px;
    color: white;
}
h1{
    text-align: center;
    color: black;
}